/* NAVBAR-START */
div#offcanvasDarkNavbar.offcanvas.offcanvas-start{
  width: 270px;
}
.offcanvas.offcanvas-start{
  background-color: #388DD8;
}

.navbar{
  background-color: #388DD8;
}
.offcanvas-title{
  color:white;
}

li.nav-item{
  padding-left:15px;
}
ul hr{
  color: white;
  margin: 0;
}
a.nav-link{
  padding:15px 0 15px 0;
}
.offcanvas ul li:hover {
  box-shadow: 0 0.5px  5px rgba(0, 0, 0, 0.192);
  background: #1676ca;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-right: black;
  border-top: black;
  border-bottom: black;
}
.offcanvas ul li .nav-link:hover{
  color: white;
}
div.offcanvas-body{
  padding-top: 0;
/* NAVBAR - END */
    
  
  
    /* SEARCH BAR */
    /* Mengatur ukuran font dan tampilan search bar menjadi flexbox */
    .search-bar {
        font-size: 11px;
        display: flex;
    }
    
    /* Mengatur animasi transisi saat search bar difokuskan atau diisi */
    .search-bar input, .search-btn, .search-btn:before, .search-btn:after {
        transition: all 0.25s ease-out;
    }
    
    /* Mengatur ukuran input dan tombol search menjadi kecil */
    .search-bar input, .search-btn {
        width: 20px;
        height: 20px;
    }
    
    /* Menambahkan efek hover dan fokus pada input search */
    .search-bar input:focus, .search-bar input:valid {
        background: #fff;
        border-radius: 6px 0 0 6px;
        box-shadow: 0 0 0 1.6px #d9d9d9 inset;
        transform: scale(1);
    }
    
    /* Mengatur tampilan tombol search saat difokuskan atau diisi */
    .search-btn {
        background: #fff;
        border-radius: 0 12px 12px 0 / 0 24px 24px 0;
        padding: 16px;
        margin-top: -2px;
        position: relative;
        transform: translate(4px, 4px) rotate(35deg) scale(0.25, 0.125);
        transform-origin: 0 50%;
    }
    
    /* Memberikan efek saat search bar diaktifkan */
    .search-bar input:focus + .search-btn,
    .search-bar input:valid + .search-btn {
        background: #1e52d5;
        margin-top: 0px;
        border-radius: 0 6px 6px 0;
        transform: scale(1);
    }
    
    /* Menambahkan warna dan hover pada tombol search */
    .search-bar input:focus + .search-btn:hover, .search-bar input:valid + .search-btn:hover {
        background: #388DD8;
    }
    
    /* SEARCH BAR - DARK MODE */
    /* Mengatur warna dalam mode gelap */
    @media screen and (prefers-color-scheme: dark) {
        body, input {
          color: #f1f1f1;
        }
        body {
          background: #171717;
        }
        .search-bar input {
          box-shadow: 0 0 0 6.4px #f1f1f1 inset;
        }
        .search-bar input:focus,
        .search-bar input:valid {
          background: #3d3d3d;
          box-shadow: 0 0 0 1.6px #3d3d3d inset;
        }
        .search-btn {
          background: #f1f1f1;
        }
    }
    
    /* RESPONSIVE DESIGN */
    /* Menyesuaikan ukuran card dan posisi back-btn pada layar yang lebih kecil */
    @media (max-width: 768px) {
      .card {
          width: 100%;
          padding: 20px;
      }
  
      .back-btn {
          left: 0;
      }
    }
  }

  div.offcanvas-header{
    padding-bottom: 10px;
  }

  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .search-bar {
    font-size: 11px;
    display: flex;
  }
  .search-bar input,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-btn {
    width: 20px;
    height: 20px;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
    padding: 13px;
    justify-content: center;
    max-width: 400px;
  }
  .search-bar input {
    background: transparent;
    border-radius: 24px;
    box-shadow: 0 0 0 6.4px #fff inset;
    padding: 15px;
    transform: translate(8px,8px) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 0 1.6px #d9d9d9 inset;
    transform: scale(1);
  }
  .search-btn {
    background: #fff;
    border-radius: 0 12px 12px 0 / 0 24px 24px 0;
    padding: 16px;
    margin-top: -2px;
    position: relative;
    transform: translate(4px,4px) rotate(35deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 3.2px #f1f1f1 inset;
    top: 16%;
    left: 16%;
    width: 14px;
    height: 14px;
  }
  .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 4px 4px 0;
    top: 45%;
    left: 40%;
    width: 8px;
    height: 3px;
    transform: translate(3.2px,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: #1e52d5;
    margin-top: 0px;
    border-radius: 0 6px 6px 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before, 
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before, 
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #388DD8;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .search-bar input {
      box-shadow: 0 0 0 6.4px #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 1.6px #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }
  /* NAVBAR-END */