  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    padding-top: 140px;
    overflow-y: auto; /* Mengizinkan scroll bar vertikal jika konten melebihi tinggi maksimum */
    overflow-x: hidden; /* Menghilangkan scroll bar horizontal */
}

thead{
    text-align: center;
    font-size: 15px;
}
td{
    font-size: 13px;
}