/* GLOBAL STYLES */
  /* Mengatur font umum menjadi Arial dan latar belakang halaman menjadi biru muda */
  body {
    font-family: Arial, sans-serif;
    padding-top: 100px;
}

/* TYPE INPUT */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
div .card {
    background-color: #fff;
    width: 450px;
    height: 450px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    /* margin-bottom: 70px; */
    /* margin-top: 10px; */
    padding-bottom: 30px;
    color: #180853;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Jarak antar tombol */
}

.btn1 {
    display: block;
    width: 100%;
    padding: 13px;
    margin-bottom: 12px;
    color: #000000;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #5ba0dd;
    transition: background-color 0.3s, color 0.3s;
}

.btn1:hover {
    background-color: #388DD8;
    color: #fff;
}

.back-btn {
    display: inline-flex;
    /* padding-top: 130px; */
    align-items: center;
    margin-top: 120px;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    left: -15px; /* Atur posisi relatif ke elemen induk */
}

.back-btn:hover {
    text-decoration: underline;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid #000;
    margin-right: 10px;
}