  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #C0E2FF;
    padding-top: 110px;
    overflow-y: auto; /* Mengizinkan scroll bar vertikal jika konten melebihi tinggi maksimum */
    overflow-x: hidden; /* Menghilangkan scroll bar horizontal */
}

/* Hero Section */
.hero {
    margin: 0 30px;
}

.judul-awal {
  text-align: center;
  margin-bottom: 30px;
}

.judul1 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.judul2 {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;
    gap: 21px;
    margin: 20px 20px 10px 20px;
}

/* Notification Button */
.notification-btn {
    position: relative;
    padding: 6px 20px;
    background-color: #43E843;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
    width: 125px;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.notification-btn .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    min-width: 20px;
    font-weight: bold;
    text-align: center;
}

.notification-btn:hover {
    background-color: #49d049;
    transform: scale(1.05);
}

/* Add Button */
.tambah {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #FFFF00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    float: right;
    margin: 20px 21px 20px 0;
  }
  
  .tambah:hover {
    background-color: #dada5d;
    transform: scale(1.05);
  }

/* Toggle Button */
label.btn-toggle {
    display: inline-block;
    background-color: #388DD8;
    color: white;
    padding: 10px 20px;
    margin: 10px 20px 0 20px;
    text-decoration: none;
    border-radius: 5px;
    width: calc(100% - 40px);
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

label.btn-toggle::after {
    content: '\25BC';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: transform 0.3s ease, color 0.3s ease;
}

input[type="checkbox"]:checked + label.btn-toggle::after {
    transform: translateY(-50%) rotate(180deg);
    color: #cfe8ff;
}

label.btn-toggle:hover {
    background-color: #2e81c9;
}

input[type="checkbox"] {
    display: none;
}

/* Dropdown Content */
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    width: calc(100% - 40px);
    margin: 0 20px;
}

input[type="checkbox"]:checked ~ .collapse-content {
    max-height: 1000px;
}

/* Card and Table Styles */
.card.card-body {
    padding: 0;
}

.card-body {
    border: 2px solid #388DD8;
    margin-top: 10px;
    border-radius: 4px;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border: 3px solid #91c2ee;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

tbody tr {
    border: 1px solid #C0E2FF;
}

table th {
  text-align: center;
}
th {
    background-color: #C0E2FF;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px;
    /* text-align: center; */
    font-weight: 500;
    font-size: 12px;
}

td {
    font-weight: 450;
    font-size: 12px;
    text-align: center;
    padding: 8px 10px;
}

.align-left {
    text-align: left;
}

/* Gender Box Styles */

.female {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  background-color: #e83e8c;
}

.male {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  background-color: #007bff;
}

/* Additional Button */
.add-btn {
    padding: 8px 15px;
    background-color: #FFFF00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-btn:hover {
    background-color: #dada5d;
    transform: scale(1.05);
}