/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #C0E2FF;
  padding-top: 80px;
  overflow-y: auto; /* Mengizinkan scroll bar vertikal jika konten melebihi tinggi maksimum */
  overflow-x: hidden; /* Menghilangkan scroll bar horizontal */
}

/* Hero Section */
.hero {
  margin: 0 30px;
}

/* Container yang menggabungkan judul dan tombol */
.judul_dan_tombol {
  display: flex;
  justify-content: space-between; /* Membuat jarak antara judul dan tombol */
  align-items: center; /* Menyelaraskan elemen secara vertikal */
  margin: 20px 21px -9px 21px; /* Memberikan jarak atas-bawah */
}

/* Judul-judul */
.judul-awal {
  display: flex;
  flex-direction: column; /* Membuat judul 1 dan judul 2 dalam satu kolom */
}

.judul1 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.judul2 {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

/* Container untuk tombol tambah dan hapus */
.tambah_dan_hapus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Mengatur jarak antara tombol */
}

/* Add Button */
.tambah {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #FFFF00;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tambah:hover {
  background-color: #dada5d;
  transform: scale(1.05);
}

/* Delete Button */
.icon-btn.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.icon-btn.delete-btn:hover {
  background-color: #cd3f35;
  transform: scale(1.05);
}

  
.icon-btn.edit-btn {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 11px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin: 5px auto;
  background-color: #2196F3;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}

.icon-btn.edit-btn:hover {
  background-color: #328cd6;
  transform: scale(1.05);
}

/* Toggle Button */
label.btn-toggle {
    display: inline-block;
    background-color: #388DD8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 20px 0 20px;
    width: calc(100% - 40px);
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

label.btn-toggle::after {
    content: '\25BC';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: transform 0.3s ease, color 0.3s ease;
}

input[type="checkbox"]:checked + label.btn-toggle::after {
    transform: translateY(-50%) rotate(180deg);
    color: #cfe8ff;
}

label.btn-toggle:hover {
    background-color: #2e81c9;
}

/* Sembunyikan checkbox untuk dropdown */
input[type="checkbox"][id^="dropdown"] {
    display: none;
}

/* Styling untuk checkbox pada tabel */
input[type="checkbox"][name="hapus[]"] {
    width: 14px;
    height: 14px;
    border: 2px solid #388DD8; /* Border biru */
    border-radius: 3px; /* Membuat sedikit membulat */
    top: 3px;
    margin: auto 5px;
    position: relative;
}

/* Dropdown Content */
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    width: calc(100% - 40px);
    margin: 0 20px;
}

input[type="checkbox"]:checked ~ .collapse-content {
    max-height: 1000px;
}

/* Card and Table Styles */
.card.card-body {
    padding: 0;
}

.card-body {
    border: 2px solid #388DD8;
    margin-top: 10px;
    border-radius: 4px;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border: 3px solid #91c2ee;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

tbody tr {
    border: 1px solid #C0E2FF;
}

table th {
  text-align: center;
}
th {
    background-color: #C0E2FF;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px;
    /* text-align: center; */
    font-weight: 500;
    font-size: 13px;
}

td {
    font-weight: 450;
    font-size: 12px;
    text-align: center;
    padding: 8px 10px;
}

.align-left {
    text-align: left;
}

/* Gender Box Styles */

.female {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  background-color: #e83e8c;
}

.male {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  background-color: #147ae7;
}
